@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center/cover fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe {
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
    border-radius: 2px;
    border: 1px solid #00000022;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    width: 40px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.238);
    border-radius: 50%;
}

#redes-sociais img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.707);
    transform: translate(-3px, -3px);
    filter: brightness(1.2);
    border: 2px solid rgba(255, 255, 255, 0.758);
    transition: all 0.5s;
}